@import url(//fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(//fonts.googleapis.com/css?family=Lato:400,300,700);
$border: #9e9e9e;
$footer-height: 4rem;



* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'PT Serif', serif;
  width: 99%;
}

.wrap {
  margin: 0 auto;
  margin-bottom: -$footer-height;
  min-height: 100%;
  width: 50%;

  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }

  p {
    font-size: 1.2em;
    line-height: 1.3;
    margin: .4em 0;
    text-indent: 1em;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Lato', sans-serif;
    text-align: center;
  }

  h2,
  h3,
  h4 {
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
  }

  h1 {
    font-size: 3em;
    font-weight: 300;
    margin: .4em 0;
  }

  h2 {
    font-size: 1.8em;
    font-weight: 400;
    padding: .25em 0;
    margin: .5em 0;
  }

  h3 {
    font-size: 1.3em;
    font-weight: 400;
    margin: .5em 0;
    padding: .25em 0;
    text-align: center;
  }

  h4 {
    font-size: .9em;
    font-weight: 400;
    margin: 3em 0 1em;
    padding: 1em 0;
  }
}

article {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

footer {
  border-top: 1px solid $border;
  height: $footer-height;
  margin: 0 auto;
  width: 50%;

  p {
    margin: 1rem;
    text-align: center;
  }
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
